<div class="cart-container">
    <h2>ADDED TO YOUR CART</h2>
    <h3 class="heading-congrats">Congratulations on receiving your bundle! Subscribe now to enjoy monthly exclusive discount!</h3>
    <div class="product-details">
      <div class="product">
        <img src="product.jpeg" alt="Example SVG" height="100"/>
        <div class="product-title">
          <h3>Lipikar AP+M Baume</h3>
          <p>400ml</p>
        </div>
      </div>
      <div class="subscription">
        <label for="shipping-frequency">Shipping Every</label>
        <div class="quantity-selector">
      </div>
      </div>
      <div class="price">
        <p class="original-price">€24.40</p>
        <p class="discounted-price">€19.52/month (20% discount)</p>
      </div>
      <button class="subscribe-button">SUBSCRIBE</button>
    </div>
    <button class="continue-shopping">CONTINUE SHOPPING</button>
    <div class="benefits">
      <ul>
        <li>✅ Free delivery</li>
        <li>✅ Free Personalized Samples every month</li>
      </ul>
      <p class="extra-discount">
        GET 5% MORE ON YOUR SUBSCRIPTION FOR EACH PRODUCT ADDED TO THE CART
      </p>
    </div>
  </div>
  