<div class="cart-container">
    <h2>ADDED TO YOUR CART</h2>
    <h3 class="heading-congrats">Congratulations on receiving your bundle! Subscribe now to enjoy monthly exclusive discount!</h3>
    <div class="product-details">
      <div class="product">
        <img src="product.jpeg" alt="Example SVG" height="100"/>
        <div class="product-title">
          <h3>Lipikar AP+M Baume</h3>
          <p>400ml</p>
        </div>
      </div>
      <div class="product-quantity">
        <p>Quantity</p>
        <input type="number" step="1" min="0" max="10" inputmode="numeric" value="1">
      </div>
      <div class="price-container">
        <p class="price-title">Price</p>
        <div class="price">
          <div class="original-price">€24.40</div>
          <div class="discounted-price">€19.52/month (20% discount)</div>
        </div>
      </div>
    </div>



    <button class="subscribe-button">SUBSCRIBE</button>

    <div class="benefits">
      <ul>
        <li>✅ Free delivery</li>
      </ul>
    </div>
  </div>
  